<div class="container" style="display:flex; gap:16px; height: calc(100vh - 140px);">
  <div data-controller="live-css-editor" style="flex: 1; display:flex; flex-direction:column;">
    <h2><%= @theme_file.name[current_locale] %></h2>

    <%= form_with model: @theme_file,
      url: theme_maker_path(@theme_file),
      method: :put,
      local: true do |f| %>

      <%= f.hidden_field :name, value: @theme_file.name[current_locale] %>
      <%= f.hidden_field :description, value: @theme_file.description[current_locale] %>

      <div class="flex flex-col">
        <%= f.text_area :body,
          rows: 30,
          id: "css-editor",
          data: {
            action: "input->live-css-editor#send",
            live_css_editor_target: "textarea"
          },
          class: "w-full",
          value: @theme_file.file.open { |io| io.read.force_encoding("UTF-8") }
        %>
      </div>
      <div style="margin-top:8px;">
        <%= f.submit "Save", class: "btn" %>
      </div>

    <div data-controller="bg_c">
      <div data-bg_c-colors-value='["#fde68a","#a7f3d0","#93c5fd","#fecaca"]'
        data-bg_c-target="box"
        class="p-4 rounded"
      >
        Click the button to change my background
      </div>

      <button
        type="button"
        data-action="bg_c#next"
        class="mt-2 px-3 py-1 border rounded">
        Change color
      </button>
    </div>


    <% end %>
  </div>

  <div style="flex: 1; border:1px solid #ddd;">
    <!-- Load the normal landing page inside the iframe -->
    <iframe id="landing-preview"
            src="/?live_preview=1"
            style="width:100%; height:100%; border:0;"
            data-live-css-editor-target="iframe">
    </iframe>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_admin_theme_maker" %>
