<% content_for :title do %>
  <%= t("title", scope: "decidim.admin.theme_maker") %>
<% end %>

<%
    form_params = {
      url: theme_maker_index_path,
      html: { class: "form" }
    }
%>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("actions.new", scope: "decidim.admin.theme_maker") %>
    </h2>
  </div>

  <div class="card-section" data-controller="live-css-editor">
    <%= decidim_form_for(@form, **form_params) do |form| %>
      <%= render partial: "form", locals: { form: form, show_preview: true } %>

      <%= form.submit t("actions.create", scope: "decidim.admin.theme_maker"),
        class: "mt-2 px-3 py-1 border rounded"
      %>
    <% end %>
  </div>
</div>
