<% content_for :title do %>
  <%= t("title", scope: "decidim.admin.theme_maker") %>
<% end %>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t("title", scope: "decidim.admin.theme_maker") %>
      <%= link_to t("actions.new", scope: "decidim.admin.theme_maker"), new_decidim_admin_theme_maker_path, class: "button tiny button--title" %>
    </h2>
  </div>

  <div class="card-section">
    <% if @theme_files.any? %>
      <div class="table-scroll">
        <table class="table-list">
          <thead>
            <tr>
              <th><%= t("models.theme_file.fields.name", scope: "decidim.admin") %></th>
              <th><%= t("models.theme_file.fields.description", scope: "decidim.admin") %></th>
              <th><%= t("models.theme_file.fields.filename", scope: "decidim.admin") %></th>
              <th><%= t("models.theme_file.fields.file_size", scope: "decidim.admin") %></th>
              <th><%= t("models.theme_file.fields.created_at", scope: "decidim.admin") %></th>
              <th class="actions"><%= t("actions.title", scope: "decidim.admin") %></th>
            </tr>
          </thead>
          <tbody>
            <% @theme_files.each do |theme_file| %>
              <tr>
                <td>
                  <%= translated_attribute(theme_file.name) %>
                </td>
                <td>
                  <%= translated_attribute(theme_file.description) %>
                </td>
                <td>
                  <%= theme_file.filename %>
                </td>
                <td>
                  <%= theme_file.file_size %>
                </td>
                <td>
                  <%= l theme_file.created_at, format: :long %>
                </td>
                <td class="table-list__actions">
                  <%= icon_link_to "pencil", t("actions.edit", scope: "decidim.admin"), edit_decidim_admin_theme_maker_path(theme_file), class: "action-icon--edit" %>
                  <%= icon_link_to "eye", t("actions.preview", scope: "decidim.admin"), rails_blob_path(theme_file.file, disposition: :inline), class: "action-icon--preview", target: "_blank" %>
                  <%= icon_link_to "trash", t("actions.destroy", scope: "decidim.admin"), decidim_admin_theme_maker_path(theme_file), method: :delete, class: "action-icon--remove", data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="text-center">
        <%= t("empty", scope: "decidim.admin.theme_maker") %>
      </p>
    <% end %>
  </div>
</div> 